body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f0e8;
    color: #333;
}

header {
    background-color: #5b321d;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #3b2113;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    padding: 8px;
}

nav a:hover {
    background-color: #d69b5c;
    color: black;
}

main {
    padding: 25px;
}


.home-flex {
    display: flex;
    gap: 30px;
}

.home-flex div {
    width: 50%;
}


img {
    width: 250px;
    height: 170px;
    margin: 10px;
    border-radius: 8px;
}


.contact-box {
    background-color: white;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
}